.brisi {
    background: none;
    color: white;
    border: none;
}

.brisi:hover {
    color: red;
    font-weight: bolder;
    transition: 0.5s;
}

.combobox {
    border-radius: 5px;
    background: rgb(97, 97, 99);
    color: white;
}






.accountBG {
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    width: 550px;
    padding: 0;
    margin: auto;
    text-align: center;
}

.novi {
    width: max-content;
    font-size: 17px;
    margin: 5px;
}

.profile-initials {
    width: 100px;
    height: 100px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #0b0322 85%, #492883 100%);

    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: -30px;
}


/* media upit za ekrane širine veće od 1200px */
@media (min-width: 1200px) {
    .row.d-flex.align-items-center {
        flex-wrap: nowrap;
    }
}

.dugme {
    font-size: 17px;
    background-color: white;
    margin: 15px;
}

.novi {
    font-size: 17px;
    margin: auto;
}

.poz1 {
    width: 55%;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    padding: 20px;
    margin: 10px 10px 10px 60px;
}

.poz2 {
    width: 35%;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

h5 {
    text-align: left;
    padding: 10px;
    font-weight: bolder;
}

.j {
    background: rgb(36, 36, 36);
    border-radius: 15px;
    padding: 20px;
    margin: -50px 10px 10px 10px;
    height: 120px;
}

p {
    font-weight: bolder;
    font-size: small;
    text-align: left;
}