#audioLoader {
    display: none;
    /* Inicijalno sakrivanje loadera */
}

.loader.playing {
    z-index: 2;
    position: absolute;
    bottom: 225px;
    right: 100px;
}

#wave {
    z-index: 2;
    height: 70px;
    width: 70px;
    fill: #fff;
    animation: pulse 1s infinite;
    position: absolute;
    bottom: 225px;
    right: 100px;
}

@for $i from 1 through 9 {
    #Line_#{$i} {
        animation: pulse 1s infinite;
        animation-delay: $i * .15s;
    }
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }

    50% {
        transform: scaleY(.7);
        transform-origin: 50% 50%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
}